

<div class="main-content page-container">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">User Creation</h4>
            <p class="card-category"></p>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                  <div class="col-md-5">
                    <mat-form-field >
                      <mat-label>User Role</mat-label>
                      <select matNativeControl required>
                        <option value="select">--Select--</option>
                        <option value="Admin">Admin</option>
                        <option value="SuperAdmin">SuperAdmin</option>
                        <option value="Supervisor">Supervisor</option>
                        <option value="Technician">Technician</option>
                      </select>
                    </mat-form-field>
                  </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="User Name">
                        </mat-form-field>
                    </div>
                    
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Password" type="password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Folder FilePath" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Auto Sync Time" 
                            type="time"
                            id="input"
                            class="form-control"
                            value="13:00"
                          />
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Device Id" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Auto Delete Time" type="number">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                      <mat-form-field >
                        <mat-label>Supervisor</mat-label>
                        <mat-select [(ngModel)]="selectedValue" name="supervisor">
                          <mat-option *ngFor="let supervisor of supervisor" [value]="supervisor.value">
                            {{supervisor.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field >
                        <mat-label>Auto Sync Day</mat-label>
                        <select matNativeControl required>
                          <option value="select">--Select--</option>
                          <option value="Admin">Sunday</option>
                          <option value="SuperAdmin">Monday</option>
                          <option value="Supervisor">Tuesday</option>
                          <option value="Technician">Wednesday</option>
                          <option value="Technician">Thursday</option>
                          <option value="Technician">Friday</option>
                          <option value="Technician">Saturday</option>
                        </select>
                      </mat-form-field>
                    </div>
                </div>
                <button  mat-raised-button type="submit" class="btn btn-action pull-right">Save</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
  </div>
  