table {
    width: 100%;
    margin: 5%;
  }

  .example-label{
    margin-top: 100px;
    padding-left: 50px;
  }

  .mat-elevation-z8{
    margin-top: 15%;
  }

  .mat-header-row{
    background-color: #0d7bb9;
    font-color: white;
  }
  