<div class="bg-img">
    <div class="col-md-4 login-form-2 ">
        <h3>Auto Sync</h3>
        <form>
            <div >
                <mat-form-field appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput  placeholder="user@login.com" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div >
                <mat-form-field appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="" [formControl]="password" required>
                  <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div class="align-right" >
               
                <input type="submit" class="btn btn-action" value="Login" routerLink="/dashboard" />
            </div> 
        </form> 
    </div> 
</div>
   
   