<div fxLayout="row" fxLayoutAlign="center center" >


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- S.No Column -->
    <ng-container matColumnDef="sno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>S No </th>
      <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
    </ng-container>
  
    <!-- Name Column -->
     <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container> 
  
    <!-- Account No Column -->
     <ng-container matColumnDef="accountnumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
      <td mat-cell *matCellDef="let element"> {{element.accountnumber}} </td>
    </ng-container>
  
     <!-- MeterReading Column -->
    <ng-container matColumnDef="meterreading">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Meter Reading </th>
      <td mat-cell *matCellDef="let element"> {{element.meterreading}} </td>
    </ng-container> 

    <!-- Lat/Log Column -->
    <ng-container matColumnDef="latlog">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lat/Log </th>
      <td mat-cell *matCellDef="let element"> {{element.latlog}} </td>
    </ng-container>
   
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Image</th>
      <td mat-cell *matCellDef="let element"> {{element.image}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="blue" [routerLink]="['/accounthistory']">
            <mat-icon>visibility</mat-icon>
        </button></td>
    </ng-container>

   
  
     <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

