<div class="row">
    <div class="col-md-4">
        <mat-form-field appearance="fill">
            <mat-label>Meter No</mat-label>
            <mat-select [formControl]="meterno" multiple>
              <mat-select-trigger>
                {{meterno.value ? meterno.value[0] : ''}}
                <span *ngIf="meterno.value?.length > 1" class="example-additional-selection">
                  (+{{meterno.value.length - 1}} {{meterno.value?.length === 2 ? 'other' : 'others'}})
                </span>
              </mat-select-trigger>
              <mat-option *ngFor="let meter of meternoList" [value]="meterno">{{meterno}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button class="button" type="submit">Submit</button>
    </div>
    </div>
    

 

 <html>
    <head>
    <title>Account History</title>
    
    </head>
     
    <body>
     
    <div class="row">
        <div class="col-md-6">
     <table> 
    <tr>
    <td>Account Details</td>
    <td><input type="text"  maxlength="30" />
    </td>
    </tr>
     
    <tr>
    <td>Account No</td>
    <td><input type="text"  maxlength="30"/>
    </td>
    </tr>
      
    <tr>
    <td>Meter No</td>
    <td><input type="number"  maxlength="30" />
    </td>
    </tr>
     
    <tr>
    <td>Meter reading Name</td>
    <td><input type="number"  ></td>
    </tr>
     
    <tr>
    <td>Sports Percentage</td>
    <td><input type="text"  maxlength="30"></td>
    </tr>
    
    <tr>
        <td>Supervisor</td>
        <td><input type="text"  maxlength="30"></td>
        </tr>
    
        <tr>
            <td>Freq</td>
            <td><input type="text"  maxlength="30"></td>
            </tr>
    </table>
    </div>
    <div class="col-md-6">
    <table>
        <tr>
            <td>Customer Information</td>
            <td><input type="text"  maxlength="30" />
            </td>
            </tr>
             
            <tr>
            <td>Customer Name</td>
            <td><input type="text"  maxlength="30"/>
            </td>
            </tr>
              
            <tr>
            <td>Address</td>
            <td><input type="number"  maxlength="30" />
            </td>
            </tr>
             
            <tr>
            <td>GPS lat</td>
            <td><input type="number" ></td>
            </tr>
             
            <tr>
            <td>GPS long</td>
            <td><input type="text"  maxlength="30"></td>
            </tr>
    
            <tr>
                <td>GEO code</td>
                <td><input type="text"  maxlength="30"></td>
                </tr>
    
                <tr>
                    <td>Contact</td>
                    <td><input type="text"  maxlength="30"></td>
                    </tr>
    </table>
    </div>
    </div>  
     
<!--Data table -->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- S.No Column -->
      <ng-container matColumnDef="sno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>S No </th>
        <td mat-cell *matCellDef="let element"> {{element.sno}} </td>
      </ng-container>
    
      <!-- Name Column -->
       <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container> 
    
      <!-- Account No Column -->
       <ng-container matColumnDef="accountnumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Number </th>
        <td mat-cell *matCellDef="let element"> {{element.accountnumber}} </td>
      </ng-container>
    
       <!-- MeterReading Column -->
      <ng-container matColumnDef="meterreading">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Meter Reading </th>
        <td mat-cell *matCellDef="let element"> {{element.meterreading}} </td>
      </ng-container> 
  
      <!-- Lat/Log Column -->
      <ng-container matColumnDef="latlog">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lat/Log </th>
        <td mat-cell *matCellDef="let element"> {{element.latlog}} </td>
      </ng-container>
     
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Image</th>
        <td mat-cell *matCellDef="let element"> {{element.image}} </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>
  
      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTION </th>
        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
      </ng-container>
  
     
    
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  
  