
 

 <html>
    <head>
    <title>Account History</title>
    
    </head>
     
    <body>
     
    <div class="row">
        <div class="col-md-6">
     <table> 
    <tr>
    <td>Account Details</td>
    <td><input type="text"  maxlength="30" />
    </td>
    </tr>
     
    <tr>
    <td>Account No</td>
    <td><input type="text"  maxlength="30"/>
    </td>
    </tr>
      
    <tr>
    <td>Meter No</td>
    <td><input type="number"  maxlength="30" />
    </td>
    </tr>
     
    <tr>
    <td>Meter reading Name</td>
    <td><input type="number"  ></td>
    </tr>
     
    <tr>
    <td>Sports Percentage</td>
    <td><input type="text"  maxlength="30"></td>
    </tr>
    
    <tr>
        <td>Supervisor</td>
        <td><input type="text"  maxlength="30"></td>
        </tr>
    
        <tr>
            <td>Freq</td>
            <td><input type="text"  maxlength="30"></td>
            </tr>
    </table>
    </div>
    <div class="col-md-6">
    <table>
        <tr>
            <td>Customer Information</td>
            <td><input type="text"  maxlength="30" />
            </td>
            </tr>
             
            <tr>
            <td>Customer Name</td>
            <td><input type="text"  maxlength="30"/>
            </td>
            </tr>
              
            <tr>
            <td>Address</td>
            <td><input type="number"  maxlength="30" />
            </td>
            </tr>
             
            <tr>
            <td>GPS lat</td>
            <td><input type="number" ></td>
            </tr>
             
            <tr>
            <td>GPS long</td>
            <td><input type="text"  maxlength="30"></td>
            </tr>
    
            <tr>
                <td>GEO code</td>
                <td><input type="text"  maxlength="30"></td>
                </tr>
    
                <tr>
                    <td>Contact</td>
                    <td><input type="text"  maxlength="30"></td>
                    </tr>
    </table>
    </div>
    </div>  
     


