table {
  width: 100%;
}
.row{
  margin: 0;
}
.mat-header-row{
  background-color: #0d7bb9;
}
.form-bg-color
{
    background-color:#e5e5e5;
}

.align-right
{
  text-align: right;
}
.tab-head {

  color: white;
  font-weight: normal;
  font-size: 14px;
 
}
.zero-padding-right
{
  padding-right:0;
}
.card {
  margin-top: 10px !important;
}