<div class="main-content page-container">
  <div class="container-fluid">
    <div class="row list-filter">
      <div class="col-md-2.5">  
        <mat-form-field>
          <input matInput (keyup)="applyFilterOne($event.target.value)" placeholder="Search"/>
        </mat-form-field>
      </div>
      <div class="col-md-8 row count pull-right">
        <div class="col-md-4" > <b>TransferId : </b> {{transferId}}</div>
        <div class="col-md-4 "> <b>Total No. Of Images  :</b> {{imageCount}}</div>
        <div class="col-md-2 float-right"> <b>Bills : </b>{{billCount}}</div>
        <div class="col-md-2 float-right"> <b>Reads :</b> {{readCount}}</div>
      </div>
      <div class="col-md-1.5 float-right" >
        <button  mat-raised-button type="button" matTooltip=" Click to TransferStatus" class="btn btn-action back-btn pull-right" color="warn" [routerLink]="['/transferstatus']">Back</button>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="m-21-p" *ngIf ="isStopped" >{{reason}}</div>
      <table *ngIf="!isLoading" [hidden] ="isStopped" mat-table matSort [dataSource]="dataSourceOne"cx #TableOneSort="matSort" class="mat-elevation-z8 col-md-12" >
        <ng-container matColumnDef="sno">
          <th class="tab-head" mat-header-cell *matHeaderCellDef>S.No</th>
          <td mat-cell *matCellDef="let i = index"> {{i + 1 +(TableOnePaginator.pageIndex * TableOnePaginator.pageSize)}}  </td>
        </ng-container>
        <ng-container matColumnDef="FileName">
          <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header>File Name</th>
          <td mat-cell *matCellDef="let element">{{ element.FileName}}</td>
        </ng-container>
        <ng-container matColumnDef="FileSize">
          <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header>File Size</th>
          <td mat-cell *matCellDef="let element">{{ element.FileSize }}</td>
        </ng-container>
        <ng-container matColumnDef="Status">
          <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.Status}}</td>
        </ng-container>
        
       
        <tr mat-header-row *matHeaderRowDef="displayedColumnsOne"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsOne"></tr>
      </table>
      <div style="width:450px;margin:8% auto;" *ngIf="isLoading">
        <img src="../../assets//img//temp-loader.gif" alt="Please wait..." />
    </div>
    </div>
    <mat-paginator #TableOnePaginator="matPaginator" [pageSize]="10" [showFirstLastButtons]="true" [hidden] ="isStopped"></mat-paginator>
  </div>
