<div class="main-content page-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3 pull-right" >
        <button class="btn btn-action pull-right btn-create" mat-raised-button [routerLink]="['/usercreation',0,false]">Create User</button>
        <button mat-raised-button class="btn btn-action pull-right btn-export"  (click)="exportAsExcel()">Excel</button>
      </div>
    </div>
    <div class="row" #TABLE>
      <table mat-table [dataSource]="dataSource" #table matSort class="col-md-12">

          <!-- S.No Column -->
              <ng-container matColumnDef="sno">
                <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header>S No </th>
                <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
              </ng-container>
        
          <!-- User Name Column -->
              <ng-container matColumnDef="username">
                <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
                <td mat-cell *matCellDef="let element"> {{element.Username}} </td>
              </ng-container> 

           <!-- Name Column -->
           <ng-container matColumnDef="name">
            <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>    
        
          <!-- Job title Column -->
                <ng-container matColumnDef="RoleName">
                  <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header>Job Title</th>
                  <td mat-cell *matCellDef="let element"> {{element.RoleName}} </td>
                </ng-container>

            <!-- supervisor Column -->
                <ng-container matColumnDef="SupervisorName">
                  <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header> Supervisor </th>
                  <td mat-cell *matCellDef="let element"> {{element.SupervisorName}} </td>
                </ng-container> 
        
            <!-- folderpath Column -->
                <ng-container matColumnDef="FolderFilePath">
                    <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header> folderpath</th>
                    <td mat-cell *matCellDef="let element"> {{element.FolderFilePath}} </td>
                </ng-container>

            <!-- Device Id Column -->
                <ng-container matColumnDef="Deviceid">
                  <th class="tab-head" mat-header-cell *matHeaderCellDef mat-sort-header> Device Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.DeviceId}} </td>
                </ng-container>


            <!-- Action ID Column -->
                    <ng-container matColumnDef="action">
                          <th class="tab-head" mat-header-cell *matHeaderCellDef>Action</th>
                              <td mat-cell *matCellDef="let element">
                                  <button mat-icon-button color="blue" [routerLink]="['/usercreation',element.Id,true]">
                                      <mat-icon>visibility</mat-icon>
                                  </button>
                                  <button mat-icon-button color="blue" [routerLink]="['/usercreation',element.Id,false]">
                                          <mat-icon>edit</mat-icon>
                                  </button>
                                      <!-- <button mat-icon-button color="blue" [routerLink]="['/usercreation']">
                                          <mat-icon>delete</mat-icon>
                                      </button>
                                      <button mat-icon-button color="blue" [routerLink]="['/usercreation']">
                                        <mat-icon>person</mat-icon>
                                      </button>
                                </td>
                  </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator
      #TableOnePaginator="matPaginator"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      ></mat-paginator>
  </div>
</div>
