<div class="main-content page-container">
    <div class="container-fluid">
        <div class="row"><div class="col-lg-6"></div>
        <!-- <div class="col-lg-3">          
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field></div> -->
        <!-- <div class="col-lg-3"> <div class="navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form">
                <div class="input-group no-border form-bg-color">
                    <input style="height:52px; padding-left:10px" type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>        
        </div> -->
    <!-- </div> -->
    </div>       
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header card-header-icon pointer" (click)=navigateToList()>
                        <div class="card-icon lightcoral">
                            <i class="material-icons">people_outline</i>
                        </div>
                        <p class="card-category"><b>Technicians</b></p>
                        <h3 class="card-title">{{techniciansCount}}
                           
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                <div class="card-header card-header card-header-icon pointer" (click)=navigateToList()>
                        <div class="card-icon lightcoral">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category"><b>Quality Check Users</b></p>
                        <h3 class="card-title">{{qualityCheckCount}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header card-header-icon pointer" (click)=navigateToList()> 
                        <div class="card-icon lightcoral">
                            <i class="material-icons">people</i>
                        </div>
                        <p class="card-category"><b>Admins</b></p>
                        <h3 class="card-title">{{adminCount}}</h3>
                    </div>
                   
                </div>
            </div>
         
            </div>
        </div>
        
        <!-- <div class="chart">
            <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
          </div> -->
</div>