/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: "Poppins"}
.main-panel{
    background-color: whitesmoke !important;
}

.container-fluid {
    padding-right: 0 !important; 
    padding-left: 0  !important; 
}
.page-container{
    height: 580px;
    background: white;
    margin-left: 13px;
    margin-top: 68px;
    width: 98% !important;
    box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 8px rgba(0, 0, 0, 0.19);
}
.main-panel .main-content {
    padding: 10px 15px !important;
}

button[type=submit], .btn-create{
    background-color:  #0d7bb9 !important;
}
.btn-export{
    background-color: #008000 !important;
}

tr.mat-row{
    height: 40px !important;
}

button
{
    border-radius: 20px !important;
    color: white;
    font-weight: normal;
}
.back-btn{
    background-color: #fd3131 !important;
}
.list-filter{
    height:60px;
}
.mat-paginator{
    height: 17px;
}
.p-10{
    padding-left: 10px !important;
}
tr.mat-header-row {
    height: 46px !important;
}
.material-icons{
    font-size: 20px !important;
}
button, .pointer{
    cursor: pointer !important;
}

